# Import Required Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Reading of data:

In [2]:
dv=pd.read_csv("Crude Oil Prices Daily 1.csv")

In [4]:
dv

            Date  Closing Value
0     01-02-1986          25.56
1     01-03-1986          26.00
2     01-06-1986          26.53
3     01-07-1986          25.85
4     01-08-1986          25.87
...          ...            ...
8218  07-03-2018          74.19
8219  07-04-2018            NaN
8220  07-05-2018          73.05
8221  07-06-2018          73.78
8222  07-09-2018          73.93

[8223 rows x 2 columns]

In [5]:
dv.head

<bound method NDFrame.head of             Date  Closing Value
0     01-02-1986          25.56
1     01-03-1986          26.00
2     01-06-1986          26.53
3     01-07-1986          25.85
4     01-08-1986          25.87
...          ...            ...
8218  07-03-2018          74.19
8219  07-04-2018            NaN
8220  07-05-2018          73.05
8221  07-06-2018          73.78
8222  07-09-2018          73.93

[8223 rows x 2 columns]>

# Handling Null Values

In [6]:
dv.info()
dv.isnull().any() #no null value.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8223 entries, 0 to 8222
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           8223 non-null   object
 1   Closing Value  8216 non-null   float64
dtypes: float64(1), object(1)
memory usage: 128.6+ KB

Date             False
Closing Value     True
dtype: bool

# Splitting The Data

## Splitting data into independent and dependent variables

In [7]:
x=dv.iloc[:,1:31].values
y=dv.iloc[:,-1].values
print(x,y)

[[25.56]
 [26.  ]
 [26.53]
 ...
 [73.05]
 [73.78]
 [73.93]] [25.56 26.   26.53 ... 73.05 73.78 73.93]

## Splitting the data into train and test:

In [8]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)